<% if (data.binary) { %>
  <div class='listing-icon icon round <%- data.extension %> <% if (data.media) { %>media<% } %>'></div>
<% } else { %>
  <a href='#<%= data.repo.owner.login %>/<%= data.repo.name %>/edit/<%- data.branch %>/<%- data.path %>' class='listing-icon'>
    <span class='icon round <%- data.extension %> <% if (data.markdown) { %> md<% } %> <% if (data.media) { %> media<% } %>'></span>
  </a>
<% } %>

<div class='details'>
  <div class='actions fr clearfix'>
    <% if (!data.binary) { %>
      <a class='clearfix'
        title="<%= t('main.repo.edit') %>"
        href='#<%= data.repo.owner.login %>/<%= data.repo.name %>/edit/<%- data.branch %>/<%- data.path %>'>
        <%= t('main.repo.edit') %>
      </a>
    <% } %>
    <% if (data.writable) { %>
      <a
        class='delete'
        title="<%= t('main.repo.delete') %>"
        href='#'>
        <span class='ico rubbish small'></span>
      </a>
    <% } %>
  </div>
  <% if (data.binary) { %>
    <h3 class='title' title='<%- data.name %>'><%- data.name %></h3>
  <% } else { %>
    <h3 class='title' title='<%- data.name %>'><a class='clearfix'href='#<%= data.repo.owner.login %>/<%= data.repo.name %>/edit/<%- data.branch %>/<%- data.path %>'><%- data.name %></a></h3>
  <% } %>
  <span class='deemphasize'><%- data.jailpath %></span>
</div>
