<div class='form-item'>
  <label for='<%= data.name %>'><%= data.label %></label>
  <% if (data.help) { %><small class='deemphasize'><%= data.help %></small><% } %>

  <fieldset>
    <select id='<%= data.name %>' name='<%= data.name %>' data-placeholder='<%= data.placeholder %>' multiple class='metafield chzn-select'>
      <% _(data.options).each(function(o) { %>
        <% if (!o.lang || o.lang === data.lang) { %>
          <% if (o.name) { %>
           <option value='<%= o.value %>'><%= o.name %></option>
          <% } else if (o.value) { %>
           <option value='<%= o.value %>'><%= o.value %></option>
          <% } else { %>
           <option value='<%= o %>'><%= o %></option>
          <% } %>
        <% } %>
      <% }); %>
    </select>
  </fieldset>

  <% if (data.alterable) { %>
    <div class='create'>
      <input type='text' class='inline' data-select='<%= data.name %>' />
      <a href='#' class='round create-select inline button' data-select='<%= data.name %>' title="<%= t('main.file.createMeta') %>"><%= t('main.file.createMeta') %></a>
    </div>
  <% } %>
</div>
