<div class='form-item'>
  <label for='<%= data.name %>'><%= data.label %></label>
  <% if (data.help) { %><small class='deemphasize'><%= data.help %></small><% } %>

  <fieldset>
    <select name='<%= data.name %>' data-placeholder='<%= data.placeholder %>' class='metafield chzn-select'>
      <% _(data.options).each(function(o) { %>

        <% if (data.placeholder) { %>
          <option></option>
        <% } %>

        <% if (!o.lang || o.lang === data.lang) { %>
          <% if (o.name) { %>
           <option value='<%= o.value %>'><%= o.name %></option>
          <% } else if (o.value) { %>
           <option value='<%= o.value %>'><%= o.value %></option>
          <% } else { %>
           <option value='<%= o %>'><%= o %></option>
          <% } %>
        <% } %>
      <% }); %>
    </select>
  </fieldset>
</div>
